<h1> Import the Libraries</h1>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# Read the file
letter_analysis=pd.read_csv("/content/drive/MyDrive/letters.csv")

In [4]:
letter_analysis.head(n=10)

,label,pixel43,pixel44,pixel92,pixel124,pixel125,pixel126,pixel127,pixel128,pixel129,...,pixel329,pixel351,pixel410,pixel411,pixel412,pixel413,pixel414,pixel415,pixel416,pixel417
0,1,0,0,0,0,0,0,0,0,0,...,0,254,0,0,0,0,0,0,0,0
1,0,0,0,0,137,137,192,86,72,1,...,254,0,0,75,254,254,254,17,0,0
2,1,0,0,0,3,141,139,3,0,0,...,0,184,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,94,255,69,0,0,0,0,0
4,0,0,0,0,155,254,254,254,157,30,...,253,0,0,0,223,253,253,253,129,0
5,0,0,0,0,3,141,202,254,193,44,...,0,0,255,123,0,0,0,0,0,0
6,7,0,0,0,0,0,0,0,0,0,...,0,51,0,0,0,0,0,0,0,0
7,3,0,0,0,0,0,0,0,0,0,...,15,218,0,0,0,0,0,0,0,0
8,5,0,0,0,0,0,0,0,0,0,...,0,235,253,229,23,0,0,0,0,0
9,3,0,0,0,254,255,199,111,18,9,...,0,253,122,253,253,170,0,0,0,0

In [5]:
#The dataframe does not have any duplicates
letter_analysis.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
41995    False
41996    False
41997    False
41998    False
41999    False
Length: 42000, dtype: bool

In [6]:
#Columns 
letter_analysis.columns

Index(['label', 'pixel43', 'pixel44', 'pixel92', 'pixel124', 'pixel125',
       'pixel126', 'pixel127', 'pixel128', 'pixel129', 'pixel130', 'pixel131',
       'pixel132', 'pixel133', 'pixel134', 'pixel135', 'pixel136', 'pixel137',
       'pixel138', 'pixel146', 'pixel147', 'pixel148', 'pixel149', 'pixel150',
       'pixel151', 'pixel152', 'pixel153', 'pixel154', 'pixel155', 'pixel156',
       'pixel157', 'pixel158', 'pixel159', 'pixel160', 'pixel327', 'pixel328',
       'pixel329', 'pixel351', 'pixel410', 'pixel411', 'pixel412', 'pixel413',
       'pixel414', 'pixel415', 'pixel416', 'pixel417'],
      dtype='object')

<h1> Checking for Null Values </h1>

In [7]:
#Checking for the null values
letter_analysis.isnull().sum()

#there are not many nukll values

label       0
pixel43     0
pixel44     0
pixel92     0
pixel124    0
pixel125    0
pixel126    0
pixel127    0
pixel128    0
pixel129    0
pixel130    0
pixel131    0
pixel132    0
pixel133    0
pixel134    0
pixel135    0
pixel136    0
pixel137    0
pixel138    0
pixel146    0
pixel147    0
pixel148    0
pixel149    0
pixel150    0
pixel151    0
pixel152    0
pixel153    0
pixel154    0
pixel155    0
pixel156    0
pixel157    0
pixel158    0
pixel159    0
pixel160    0
pixel327    0
pixel328    0
pixel329    0
pixel351    0
pixel410    0
pixel411    0
pixel412    0
pixel413    0
pixel414    0
pixel415    0
pixel416    0
pixel417    0
dtype: int64

<h1> Checking the Dimension </h1>

In [8]:
#Checking the Dimensions of the Data Set

letter_analysis.shape

(42000, 46)

In [9]:
from sklearn import datasets, neighbors
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.datasets import mnist
import matplotlib.pyplot as plt
import numpy as np
from random import randint
import time

In [10]:
from keras import models
from keras import layers
from keras.utils import to_categorical

In [11]:

np.random.seed(1212)

import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers

In [12]:
import tensorflow as tf
from tensorflow.keras import layers

In [14]:
#We are doing the value count of the label
letter_analysis['label'].value_counts()

1    4684
7    4401
3    4351
9    4188
2    4177
6    4137
0    4132
4    4072
8    4063
5    3795
Name: label, dtype: int64

In [15]:
X = letter_analysis.drop(columns = ['label'], axis = 1)
y = letter_analysis['label']

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size = 0.8, random_state = 12)

In [17]:
y_train

5441     8
8092     5
19896    1
3329     4
1133     5
        ..
36482    9
40177    5
19709    4
38555    1
14155    2
Name: label, Length: 33600, dtype: int64

<h1> Understanding the Dimension </h1>

In [18]:
X_train.shape,X_test.shape

((33600, 45), (8400, 45))

In [19]:
y_train.shape,y_test.shape

((33600,), (8400,))

<h1> Inserting the Random Forest Classifier </h1>

In [20]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=245,criterion='entropy',random_state=0,min_samples_split=2)

rfc.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=245, random_state=0)

In [21]:
y_pred=rfc.predict(X_test)

from sklearn.metrics import accuracy_score
ac= accuracy_score(y_test,y_pred)
print('Accuracy is :',ac*100)

Accuracy is : 69.69047619047619

<h1> KNN Model </h1>

In [22]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(algorithm='brute',n_neighbors =1 ,leaf_size=100,p=30)
knn.fit(X_train, y_train)

knn_predictions = knn.predict(X_test) 

acc=accuracy_score(y_test,knn_predictions)
print('Accuracy is :',acc*100)

Accuracy is : 60.023809523809526

<h1> XGBoost Model </h1>

In [23]:
from xgboost import XGBClassifier
model = XGBClassifier(learning_rate=1.0)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 70.55%

<h1> Support Vector Machine</h1>

In [24]:
from sklearn.svm import SVC
model = SVC(kernel='rbf', C=1E01,tol=0.1)
model.fit(X_train, y_train)
predicted= model.predict(X_test)

In [25]:
from sklearn.metrics import confusion_matrix,accuracy_score
accuracy = accuracy_score(y_test, predicted)
print("Accuracy: %.2f%%" % (accuracy * 100.0))#97.28

Accuracy: 70.17%

In [26]:
# Feature Normalization 
X_train /= 255; X_test /= 255

# Convert labels to One Hot Encoded
num_digits = 10

# Converting labels into one hot encoded values so that our model is able to train on it, for softmax it is required that we convert multiclass labels into their one-hot encoded form.
y_train = keras.utils.to_categorical(y_train, num_digits)
y_test = keras.utils.to_categorical(y_test, num_digits)

In [27]:
y_test

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [28]:
# Input Parameters
n_input = 45 # number of features
n_hidden_1 = 300
n_hidden_2 = 100
n_hidden_3 = 100
n_hidden_4 = 200
num_digits = 10

In [29]:

model = tf.keras.Sequential([
  layers.Flatten(input_shape = (45,)),
  layers.Dense(128, activation='relu'), 
  layers.Dense(128, activation='relu'),
  layers.Dropout(.1),
  layers.Dense(10, activation = 'softmax')
])

In [30]:
# Inp = Input(shape=(len(X_train.columns),))


# x = Dense(n_hidden_1, activation='relu', name = "Hidden_Layer_1")(Inp)
# x = Dense(n_hidden_2, activation='relu', name = "Hidden_Layer_2")(x)
# x = Dense(n_hidden_3, activation='relu', name = "Hidden_Layer_3")(x)
# x = Dense(n_hidden_4, activation='relu', name = "Hidden_Layer_4")(x)
# output = Dense(num_digits, activation='softmax', name = "Output_Layer")(x)

In [31]:
# Our model would have '6' layers - input layer, 4 hidden layer and 1 output layer

model.summary() # We have 297,910 parameters to estimate

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten (Flatten)           (None, 45)                0

 dense (Dense)               (None, 128)               5888

 dense_1 (Dense)             (None, 128)               16512

 dropout (Dropout)           (None, 128)               0

 dense_2 (Dense)             (None, 10)                1290

=================================================================
Total params: 23,690
Trainable params: 23,690
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Insert Hyperparameters
learning_rate = 0.1

batch_size = 100
sgd = optimizers.SGD(learning_rate)

In [33]:
# We rely on the plain vanilla Stochastic Gradient Descent as our optimizing methodology
model.compile(loss='categorical_crossentropy',
              optimizer='sgd',
              metrics=['accuracy'])

In [34]:
history1 = model.fit(X_train, y_train,
                     batch_size = 64,
                     epochs = 20,
                     verbose = 2,
                     validation_data=(X_test, y_test))

Epoch 1/20
525/525 - 2s - loss: 2.1158 - accuracy: 0.3240 - val_loss: 1.9203 - val_accuracy: 0.4423 - 2s/epoch - 4ms/step
Epoch 2/20
525/525 - 1s - loss: 1.7386 - accuracy: 0.4624 - val_loss: 1.5732 - val_accuracy: 0.4951 - 1s/epoch - 2ms/step
Epoch 3/20
525/525 - 1s - loss: 1.4876 - accuracy: 0.5101 - val_loss: 1.4044 - val_accuracy: 0.5292 - 1s/epoch - 2ms/step
Epoch 4/20
525/525 - 1s - loss: 1.3752 - accuracy: 0.5343 - val_loss: 1.3226 - val_accuracy: 0.5496 - 1s/epoch - 2ms/step
Epoch 5/20
525/525 - 1s - loss: 1.3083 - accuracy: 0.5511 - val_loss: 1.2682 - val_accuracy: 0.5667 - 1s/epoch - 2ms/step
Epoch 6/20
525/525 - 1s - loss: 1.2625 - accuracy: 0.5651 - val_loss: 1.2278 - val_accuracy: 0.5769 - 1s/epoch - 2ms/step
Epoch 7/20
525/525 - 1s - loss: 1.2264 - accuracy: 0.5764 - val_loss: 1.1947 - val_accuracy: 0.5886 - 1s/epoch - 2ms/step
Epoch 8/20
525/525 - 1s - loss: 1.1956 - accuracy: 0.5907 - val_loss: 1.1672 - val_accuracy: 0.5963 - 1s/epoch - 2ms/step
Epoch 9/20
525/525 - 1s - loss: 1.1678 - accuracy: 0.6025 - val_loss: 1.1434 - val_accuracy: 0.6198 - 1s/epoch - 2ms/step
Epoch 10/20
525/525 - 1s - loss: 1.1460 - accuracy: 0.6116 - val_loss: 1.1219 - val_accuracy: 0.6237 - 1s/epoch - 2ms/step
Epoch 11/20
525/525 - 1s - loss: 1.1272 - accuracy: 0.6143 - val_loss: 1.1025 - val_accuracy: 0.6275 - 1s/epoch - 2ms/step
Epoch 12/20
525/525 - 1s - loss: 1.1090 - accuracy: 0.6197 - val_loss: 1.0874 - val_accuracy: 0.6294 - 1s/epoch - 2ms/step
Epoch 13/20
525/525 - 1s - loss: 1.0934 - accuracy: 0.6253 - val_loss: 1.0717 - val_accuracy: 0.6299 - 1s/epoch - 2ms/step
Epoch 14/20
525/525 - 1s - loss: 1.0787 - accuracy: 0.6279 - val_loss: 1.0591 - val_accuracy: 0.6323 - 1s/epoch - 2ms/step
Epoch 15/20
525/525 - 1s - loss: 1.0685 - accuracy: 0.6300 - val_loss: 1.0495 - val_accuracy: 0.6346 - 1s/epoch - 2ms/step
Epoch 16/20
525/525 - 1s - loss: 1.0567 - accuracy: 0.6328 - val_loss: 1.0388 - val_accuracy: 0.6370 - 1s/epoch - 2ms/step
Epoch 17/20
525/525 - 1s - loss: 1.0458 - accuracy: 0.6338 - val_loss: 1.0303 - val_accuracy: 0.6399 - 1s/epoch - 2ms/step
Epoch 18/20
525/525 - 1s - loss: 1.0374 - accuracy: 0.6390 - val_loss: 1.0218 - val_accuracy: 0.6404 - 1s/epoch - 2ms/step
Epoch 19/20
525/525 - 1s - loss: 1.0267 - accuracy: 0.6417 - val_loss: 1.0141 - val_accuracy: 0.6444 - 1s/epoch - 2ms/step
Epoch 20/20
525/525 - 1s - loss: 1.0211 - accuracy: 0.6447 - val_loss: 1.0068 - val_accuracy: 0.6450 - 1s/epoch - 2ms/step

In [35]:
y_pred_nn = model.predict(X_test)

263/263 [==============================] - 0s 1ms/step

In [36]:
# This step is necessary to convert our one hot encoded classes into digits category column.
y_pred_nn = pd.DataFrame(y_pred_nn)
y_pred_nn = y_pred_nn.idxmax(axis = 1)

In [37]:
# Classification report to see the precision of our model. 
print(classification_report(y_pred_nn,pd.DataFrame(y_test).idxmax(axis = 1))) # We have converted y_test back to its categorical form from one hot encoded obtained from to_categical() function.

              precision    recall  f1-score   support

           0       0.86      0.81      0.83       873
           1       0.93      0.79      0.85      1091
           2       0.59      0.64      0.62       758
           3       0.50      0.61      0.55       704
           4       0.46      0.63      0.53       590
           5       0.56      0.59      0.57       743
           6       0.88      0.85      0.86       866
           7       0.71      0.47      0.57      1335
           8       0.51      0.58      0.55       718
           9       0.41      0.47      0.44       722

    accuracy                           0.65      8400
   macro avg       0.64      0.64      0.64      8400
weighted avg       0.67      0.65      0.65      8400